.clearfix {
	display:block;
	clear:both;
}

#top-nav{
    background: #d7d7d7;
    padding: 18px 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    -webkit-backface-visibility:hidden;
    -webkit-transform: translateZ(0);
}

#menu{
    float: right;
}

#top-content{
    background: url(../images/bg.jpg) repeat-x top center;
    background-size: cover;
    padding: 130px 0 80px 0;
}

#grid-content{
    background: url(../images/grid-bg.png);
    padding: 80px;
}

#gridimg{
    margin:0 auto;
    display: block;
}

h1, .wt-l, .cta, h2, p, span, h4{
    font-family: 'Source Sans Pro';
}

h1, .wt-l, h4{
    color: #fff;
}

.wt-l{
    font-size: 1.3em;
    line-height: 1.5em;
    padding-bottom: 25px;
}

.cta{
    color:#000;
    background: #23d77c url(../images/right.png) no-repeat 13px 12px;
    border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 13px 18px 13px 50px;
    font-size: 1.4em;
    text-indent: 20px;
    margin-top:25px;
}

.cta:hover{
    color: #000;
    background-color: #23c674;
}

h2{
    text-align: center;
    margin: 40px 0 80px 0;
    font-size: 3em;
}

.sub-title{
    display: block;
    font-size: 1.7em;
    margin: 20px 0 10px 0;
}

.features{
    text-align: center;
}

p{
    font-size: 1.1em;
    line-height: 1.2em;
}

.header-unit{
    height: 650px;
    width: 100%;
    position: relative;
}

#video-container{
    position: absolute;
    top:0%;
    left:0%;
    height:100%;
    width: 100%;
    overflow: hidden;
    z-index: -21;
}

video {
    position:absolute;
    z-index:-20;
}

video.fillWidth{
    width: 100%;
}

h4{
    color: #fff;
    font-size:4.5em;
    text-align:center;
    margin-top: 170px;
}

#play img{
    display: block;
    margin:40px auto;
}

#support-content{
    background:url(../images/honeycomb-bg.png);
    padding:150px;
}

#testimonial-content{
    background:#f0f0f0 url(../images/quote.png) 20% 50% fixed no-repeat;
    padding:120px;
/*    margin-bottom:500px;*/
}

.title {
    font-size:1.7em;
}

.fadeInBlock {
    opacity:0;
}

#svg {
    width:40%;
    margin: 0 auto;
    display:block;
    visibility:hidden;
}

.auth-img {
    text-align:center;
}

@media only screen and (max-width: 40.063em) {

#gridimg{
    margin:0 auto;
    display: block;
}

.grid-container{
    margin: -80px 0 -40px;
}

.wt-l, h1, .auth-content{
    text-align: center;
}

h1{
    font-size: 2.2em !important;
}

.cta{
    display: block;
    margin: 0 auto;
}

#grid-content, #support-content, #testimonial-content{
    padding: 20px;
}

#svg{
    margin-top: 25px;
}

#video-parent{
    display: none;
}

.auth-img{
    margin: 20px 0;
}

}

@media only screen and (max-width: 64.063em) {

#griding{
    width: 80%
    margin-top80px;
}

h1{
    font-size: 3em;
}

#header-unit{
    height: 400px;
}

h4{
    margin-top: 80px;
    font-size: 3em;
}

#support-content{
    padding:20px;
}

#svg{
    margin-top: 45px;
}

}